.main-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 7.125rem;
    background: #0F1521;
    padding: 0 1rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.main-navigation__logo {
    margin: 6rem;
    padding:0;
}

.main-navigation__item {
    margin-left: 1.5rem;
    margin-right: 5rem;
}

.main-navigation__item ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
.main-navigation__item li {
    margin: 0 1rem;
}

.main-navigation__item a,
.main-navigation__item button {
    text-decoration: none;
    background: #0F1521;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height: 3rem;
    width: 17.0625rem;
    font-size: 1.25rem;
    color: #5F7B88;
    border: 0.07rem solid #5F7B88;
    border-radius: 32px;
    padding: 0.25rem 1rem;
    margin: 0 1rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.26);
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.main-navigation__item a:hover,
.main-navigation__item a:active,
.main-navigation__item a.active,
.main-navigation__item button:hover,
.main-navigation__item button:active {
    background: #182633;
}