.my_current_location{
    background: #0F1521;
    height: 92.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.my_map{
    width: 55%;
    height: 82vh;
    position: absolute;
    top: 8rem;
    right: 7.5rem;
    border-radius: 5px;
}

