.my_window{
    background-color: #182633;
    width: 27rem;
    margin-left: 3.5rem;
    height: 82vh;
    top: 8rem;
    position: absolute;
    left: 4rem;
    border-radius: 14px;
}

.my_window h1 {
    font-size: 1.75rem;
    color: #5F7B88;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.time {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.tab {
    margin-right: 3rem;
}

.header {
    margin-left: 1rem;
}

.last_element {
    margin-bottom: 0;
    width: 30rem;
    height: 3vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}
.chart {
    position: fixed;
    float: left;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data {
    margin-bottom: 7.2vh;
    width: 30rem;
    height: 3vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}